/bin
bin/
/bin-debug
bin-debug/
/build
build/
test-classes/
/.settings
/doc
/.gradle
/lib
classes
classes*
.FlexUnitSettings
.idea/workspace.xml
.granite
.settings
.FlexUnitSettings
.externalToolBuilders/
.DS_Store
*.log
.idea/dictionaries
