<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>GraniteGuiceExample</display-name>
    <description>Granite Guice Example Application</description>

    <!-- Granite config context listener -->
    <listener>
        <listener-class>org.granite.config.GraniteConfigListener</listener-class>
    </listener>

    <!-- Guice specific context listener (Initialize Guice injector and WARP persistence) -->
    <listener>
        <listener-class>test.granite.guice.listeners.InitNDestroy</listener-class>
    </listener>

    <!--
    Uncomment (part of) this block if configs are not present at default locations.
    <context-param>
        <param-name>servicesConfigPath</param-name>
        <param-value>/WEB-INF/flex/services-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>graniteConfigPath</param-name>
        <param-value>/WEB-INF/granite/granite-config.xml</param-value>
    </context-param>
    -->

    <!-- WARP persistence filter -->
    <filter>
        <filter-name>sessionPerRequestFilter</filter-name>
        <filter-class>com.wideplay.warp.jpa.SessionPerRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionPerRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AMFMessageFilter</filter-name>
        <filter-class>org.granite.messaging.webapp.AMFMessageFilter</filter-class>
        <init-param>
            <param-name>servicesConfigPath</param-name>
            <param-value>/WEB-INF/services-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>graniteConfigPath</param-name>
            <param-value>/WEB-INF/granite-config.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AMFMessageFilter</filter-name>
        <url-pattern>/graniteamf/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AMFMessageServlet</servlet-name>
        <servlet-class>org.granite.messaging.webapp.AMFMessageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AMFMessageServlet</servlet-name>
        <url-pattern>/graniteamf/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
