/geronimo-j2ee-management_1.1_spec.jar
/geronimo-jms_1.1_spec.jar
/geronimo-jta_1.0.1B_spec.jar
/glassfish-embedded-all.jar
/openejb-lite.jar
/shrinkwrap-api.jar
/shrinkwrap-extension-glassfish.jar
/shrinkwrap-extension-openejb.jar
/shrinkwrap-impl-base.jar
/shrinkwrap-spi.jar
